<div class="show-container">

  <div class="row">

    <div class="col-md-6">
      <h3>User 1 Name</h3>
      <p>git link</p>
      <div class="image-container"> <img src="http://floridapolitics.com/wp-content/uploads/2015/06/technology.jpg" alt="" class=".img-responsive">
      </div>
      <p>About this person</p>
      <button type="submit" class="btn btn-default">Edit</button>
    </div>

    <div class="col-md-6">
      <h3>User 2 Name</h3>
      <p>git link</p>
      <div class="image-container"> <img src="http://floridapolitics.com/wp-content/uploads/2015/06/technology.jpg" alt="" class=".img-responsive">
      </div>
      <p>About this person</p>
      <button type="submit" class="btn btn-default">Edit</button>
    </div>

  </div>

</div>
